{% extends 'home/base.html' %}

{% block content %}
<div class="container mt-5">
  
  <!-- Search Form -->
  <form method="get" class="mb-4">
    <div class="input-group shadow-sm">
      <input type="text" name="q" value="{{ search_query }}" class="form-control" placeholder="Search by Product Lot, Inventory Bay, or Warehouse">
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </form>

  <!-- Display the list of Inventory Bay Lots -->
  <div class="table-responsive rounded shadow-sm">
    <table class="table table-hover align-middle table-striped border rounded">
      <thead class="table-primary text-center">
        <tr>
          <th>Warehouse</th>
          <th>Inventory Bay</th>
          <th>Lot Number</th>
          <th>Catalog Number</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
        {% for lot in inventory_bay_lots %}
        <tr onclick="redirectToTransfer('{{ lot.product_lot.id }}', '{{ lot.inventory_bay.id }}', '{{ lot.quantity }}')" style="cursor: pointer;">
          <td class="fw-semibold">{{ lot.inventory_bay.warehouse_name.name }}</td>
          <td class="text-center">{{ lot.inventory_bay.friendly_name }}</td>
          <td class="text-center">{{ lot.product_lot.lot_number }}</td>
          <td class="text-center">{{ lot.product_lot.product_name }}</td>
          <td class="text-center">{{ lot.quantity }}</td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="5" class="text-center text-muted">No Inventory Bay Lots found for the search criteria.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script type="text/javascript">
  function redirectToTransfer(productLotId, inventoryBayId, quantity) {
    const url = new URL("{% url 'transfer' %}", window.location.origin);
    url.searchParams.append('product_lot', productLotId);
    url.searchParams.append('from_inventory_bay', inventoryBayId);
    url.searchParams.append('quantity', quantity);
    window.location.href = url;
  }
</script>
{% endblock %}

