{% extends 'registration/base.html' %}
{% load static %}

{% block title %}
  Create User
{% endblock %}

{% block form %}
  <form method="post" >
    <h2>Register</h2>
    {% if messages %}
        {% for message in messages %}
            <p style="color: red;">{{ message }}</p>
        {% endfor %}
    {% endif %}
    {% csrf_token %}

    {% for field in form %}
      <label for="{{ field.id_for_label }}">{{ field.label }}</label><br>
      {{ field }}<br><br>
      {% if field.help_text %}
          <small>{{ field.help_text }}</small><br><br>
      {% endif %}
      {% for error in field.errors %}
          <p style="color: red;">{{ error }}</p>
      {% endfor %}
    {% endfor %}

    <button type="submit" class='button'>Register</button>
  </form>
{% endblock %}

{% block redirect %}
  <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
{% endblock %}
