{% load static %}

<link rel="stylesheet" href="{% static 'css/components/nav.css' %}">
<nav class="navbar">
  <div class="hamburger-menu" onclick="toggleMenu('left-menu')">
    <i class="fa-solid fa-bars"></i>
  </div>
  <div class="nav-title">
    <h1>{{ title }}</h1>
  </div>
  <div class="user-icon" onclick="toggleMenu('user-menu')">
    <i class="fa-solid fa-user"></i>
  </div>
</nav>
<script>
  const toggleMenu = (menuId) => {
    document.getElementById(menuId).classList.toggle('hidden')
  }
</script>

<!-- Floating Menus -->
<div id="left-menu" class="floating-menu hidden">
  <a href="{% url 'index' %}">Home</a>
  <a href="{% url 'index' %}">Another Page</a>
</div>
<div id="user-menu" class="floating-menu hidden">
  <a href="{% url 'index' %}">Profile</a>
  <a href="{% url 'logout' %}">Logout</a>
</div>
