<div class="container mt-4">
  <div class="alert alert-primary d-flex justify-content-between align-items-center" role="alert">
    <span class="fw-bold">Would you like to print your transactions?</span>
    <div class="d-flex gap-3">
      <button onclick="openPrint()" class="btn btn-outline-success btn-sm">Print</button>
      <button onclick="openPrint('?action=View')" class="btn btn-outline-info btn-sm">View</button>
      <form action="{% url 'empty_print' %}" method="post" class="d-inline">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-danger btn-sm">Cancel Print</button>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript">
    async function openPrint(action) {
      if (action === undefined) action = "";
      var current = window
      const printWindow = window.open(`{% url 'print_transaction' %}${action}`, "_blank");
      printWindow.focus();

      if (action === "") {
        await new Promise(r => setTimeout(r, 1000));
        current.location.reload();
      }
    }
</script>

<style>
  body.dark-theme .fw-bold {
    color: white;
  }

  .alert-primary {
    --bs-alert-bg: rgba(0,0,0,0)
  }

  body.light-theme .fw-bold {
    color: black;
  }
</style>
